.accordion {
  background-color: var(--button-background-color);
  color: var(--theme-color-text);
  cursor: pointer;
  padding: 13px;
  width: 85%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 3px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 7px;
	box-shadow: 0 2px 3px 1px rgb(61, 139, 228);

}

.accordion>.tron-switch {
  margin-right: 5px;
}

 

.accordion-active, .accordion:hover {
	background-color: var(--button-background-color-focused); 
  color: var(--theme-color-text2);
	box-shadow: 0 2px 3px 1px rgb(216, 216, 216);
  }
  
.accordion-panel {
padding: 0 10px 10px;
display: none;
background-color: inherit;
color: white;
overflow: hidden;
transition: .8s;
}

.accordion-panel-heading {
  line-height: 40px;
}