:root {
	--theme-background: #222;
	--theme-color-focused: #00b7ff;
	--theme-color: #1f83b6;
	--theme-color-text: #ffffff;
	--theme-color-text2: #3ab7ff;
	--theme-hover-color: #444;
	--button-background-color: #8a8b8d6b;
	--button-background-color-focused: #4e4f506b;
	--button-border-focused: #8a8b8d6b;
	--button-border: #828d94;
	--button-border-radius: 0;
	--border-width: 0;
	--border-color: #000;

	--space-height: 3em;
}


body {

	overflow-x: hidden;
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: var(--theme-background);
	transition: top 0.3s;
	position: relative;
	top: 50px;
}

.container {
	margin: 80px auto;
	width: 400px;
	text-align: center;
}

#logo {
	position: relative;
	background-color: #fff;
	width: min-content;
	padding: 10px;
	border-radius: 8px;
	margin: 20px;
	float: left;
	text-align: left;
}

@media screen and (max-width: 600px) {
	#logo {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}

#logo img{
	width: 200px;

}

.page_title {
	/* position: absolute; */
	/* float: left;*/
	/*font-size: 1.5em;*/
	/*font-weight: bold; */
	/* position: relative; */
	color: var(--theme-color-text2);
	/* text-decoration: underline; */
	/* border: 3px solid var(--theme-color-text2); */
}

.pagination {
	width: 80%;
	max-width: 800px;
}

.paginationA {
	font: bold 20px Arial;
	text-decoration: none;
	background-color: var(--button-background-color);
	color: var(--theme-color);
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #828d94;
	box-shadow: 4px 4px #5050506b;
	border-left: 1px solid #828D94;
	float: left
}

.paginationA:hover {
	background-color: var(--button-background-color-focused);
	color: var(--theme-color-focused);
	box-shadow: 4px 4px #8d8d8d6b;
	border: none;
	border-right: 1px solid #959fa5;
	border-bottom: 1px solid #959fa5;
}

.paginationA:active {
	margin-top: 4px;
	margin-left: 4px;
	box-shadow: none;
}

#pagination-next {
	float: right;
}

#lastleft {
	font-size: 20px;
	font-weight: 600;
	font-family: 'Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif';
	text-decoration: none;
	color: #06A5EE;
}


#pageFormats {
	background-color: rgba(117, 117, 119, 0.507);
	height: 35px;
	width: 140px;
	color: #3ab7ff;
	font-size: 17px;
	font-family: sans-serif;
	font-weight: 700;
}


.spacer {
	background-color: #222;
	color: #3094BE;
	font-weight: 500;
}

.containerR {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.containerR input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}



/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #eee;
	border-radius: 60%;
}

/* On mouse-over, add a grey background color */
.containerR:hover input~.checkmark {
	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerR input:checked~.checkmark {
	background-color: #3ab7ff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerR input:checked~.checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.per_img {
	/* padding: 0; */
	cursor: pointer;
	transition: 0.3s;
	max-width: 90vw;
	border: var(--border-width) var(--border-color) solid;
}

/* #myImg:hover {opacity: 0.7;} */

/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.9);
	/* Black w/ opacity */
}

#img01 {
	position: relative;
	left: 0px;
	width: 80%;

	transition: width .6s, height .6s, left .2s, opacity .2s;
	-webkit-transition: width .6s, height .6s, left .2s, opacity .2s;
	-moz-transition: width .6s, height .6s, left .2s, opacity .2s;
	-o-transition: width .6s, height .6s, left .2s, opacity .2s;
}

#img01[data-state="1"] {
	left: 300px;
	opacity: .1;

}

#img01[data-state="2"] {
	left: -300px;
	opacity: .1;


}


/* Modal Content (image) */
#image-modal-content {
	position: relative;
	display: block;
	margin: auto;
	width: max-content;
	height: min-content;
}


.view_arrow {
	display: block;
	cursor: pointer;
	position: fixed;
	width: 5%;
	height: 40%;
	padding: 16px;
	color: black;
	font-weight: bold;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;

	text-shadow:
		-1px -1px 0 #3ab7ff,
		1px -1px 0 #3ab7ff,
		-1px 1px 0 #3ab7ff,
		1px 1px 0 #3ab7ff;

}

.view_arrow>p {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 40px;
	margin: 0;
}

/* Position the "next button" to the right */
#next_view {
	right: 0;
	border-radius: 3px 0 0 3px;
}

#prev_view {
	left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.view_arrow:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Caption of Modal Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
	overflow-wrap: break-word;
}

/* Add Animation */
#image-modal-content,
#caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
	#pagination {
		width: 95%;
	}

	#img01 {
		width: 100vw;
	}
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0)
	}

	to {
		-webkit-transform: scale(1)
	}
}

@keyframes zoom {
	from {
		transform: scale(0)
	}

	to {
		transform: scale(1)
	}
}

/* The Close Button */
.close-image-modal {
	position: fixed;
	top: 40px;
	right: 40px;
	color: #444444;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
	cursor: pointer;
	z-index: 1;

	text-shadow:
		-1px -1px 0 #3ab7ff,
		1px -1px 0 #3ab7ff,
		-1px 1px 0 #3ab7ff,
		1px 1px 0 #3ab7ff;
}

.close-image-modal:hover .close-image-modal:focus {
	color: #bbb;
	text-decoration: none;
}



.popup .overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 2;
	display: none;
}

.popup .content {
	position: fixed;
	top: 50%;
	left: 50%;
	color: #AAA;
	transform: translate(-50%, -50%) scale(0);
	background: #222;
	width: 95%;
	max-width: 500px;
	height: 250px;
	z-index: 10;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

.popup .close-btn {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
	height: 30px;
	background: #222;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
}

.popup.active .overlay {
	display: block;
}

.popup.active .content {
	transition: all 300ms ease-in-out;
	transform: translate(-50%, -50%) scale(1);
}

#button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
	font-size: 18px;
	border: 2px solid #222;
	color: #222;
	text-transform: uppercase;
	font-weight: 600;
	background: #fff;
}

#go2main {
	font-size: 20px;
	font-weight: 600;
	font-family: 'Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif';
	text-decoration: none;
	color: #06A5EE;
}

#footer {
	margin-top: auto;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.Break_in_image {
	display: block;
	height: var(--space-height);
	width: 100%;
	transition: height 0.8s;
}

.overflowHidden {
	overflow: hidden !important;
}

.hidden {
	display: none !important;
}

.blank {
	visibility: hidden !important;
}

.disabled {
	opacity: 0.5;
	pointer-events: none;
}